<section class="section background">
  <div class="section__title">About Me</div>
  <div class="section__content">
    <p>
      I'm a computer science &amp; business student under Nanyang Technological University's 
      <a class="underline-link" href="https://www.ntu.edu.sg/rep/Pages/default.aspx" target="_blank">Renaissance Engineering Programme</a>. 
    </p>

    <p>
      I'm incredibly fascinated about machine learning &amp; software development and their applications on real-life problems.
      As such, I continuously enrich my knowledge on these subjects through my self-learning and I'm always open to <strong>learning 
      opportunities, projects and internships.</strong>
    </p>

    <p>
      <strong>}If you don't find me in front of a computer screen</strong>, it would mean that I'm probably in the gym, cheerleading, or 
      making myself a nice cuppa coffee.
    </p>

    {% include employment-status.html %}
  </div>
</section>
