<header class="intro">
  <!-- <h1 class="intro__hello">Hello World!
    <span class="emoji wave-hand animated"></span>
  </h1> -->

  <h1 class="intro__tagline">
    <p class="name">Jervis Chan</p>

    <span class="role"><em>Aspiring</em> Full Stack Data Scientist</span>
    <span class="emoji unicorn"></span>
  </h1>
  
  <!-- <div class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <!-- <span>
      <a href="mailto:jerv0003@e.ntu.edu.sg" target="_blank" class="highlight-link">jerv0003@e.ntu.edu.sg</a>
    </span> -->
  <!-- </div> --> 



</header>
