---
---
<div class="wave-divider">
  <svg viewBox="0 0 2400 24" preserveAspectRatio="none">
    <path d="M0,12 C200,4 400,20 600,12 C800,4 1000,20 1200,12 C1400,4 1600,20 1800,12 C2000,4 2200,20 2400,12" />
  </svg>
</div>
